In [1]:
!git clone https://github.com/CodyBurker/W266_Group_Project

Cloning into 'W266_Group_Project'...
remote: Enumerating objects: 192, done.
remote: Counting objects: 100% (192/192), done.
remote: Compressing objects: 100% (174/174), done.
remote: Total 192 (delta 80), reused 65 (delta 13), pack-reused 0
Receiving objects: 100% (192/192), 138.91 MiB | 19.79 MiB/s, done.
Resolving deltas: 100% (80/80), done.
Checking out files: 100% (43/43), done.

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
def read_in_data(path="W266_Group_Project/"):
    import pandas as pd
    CNN_Predictions = pd.read_csv(path + "CNN_Predictions.csv")
    t5_Predictions = pd.read_csv(path + "t5_Predictions.csv")
    BERT_Predictions = pd.read_csv(path + "BERT_Predictions_80k_stage_2_1_to_5.csv")
    CNN_Predictions_X_test = pd.read_csv(path + "X_test_predictions_1_to_5_CNN.csv")
    t5_Predictions_X_test = pd.read_csv(path + "t5_Predictions_test20k.csv")
    BERT_Predictions_X_test = pd.read_csv(path + "X_test_predictions_1_to_5.csv")
    y_test = pd.read_csv(path + "y_test_sampled_yelp_data_NEW.csv")
    return CNN_Predictions, t5_Predictions, BERT_Predictions, y_test, CNN_Predictions_X_test, t5_Predictions_X_test, BERT_Predictions_X_test
CNN_Predictions, t5_Predictions, BERT_Predictions, y_test, CNN_Predictions_X_test, t5_Predictions_X_test, BERT_Predictions_X_test = read_in_data()

In [ ]:
CNN_Predictions['CNN_predictions']

0        5
1        5
2        5
3        4
4        4
        ..
79995    5
79996    5
79997    5
79998    4
79999    4
Name: CNN_predictions, Length: 80000, dtype: int64

In [5]:
CNN_Predictions_X_test['CNN_predictions']

0        5
1        5
2        5
3        5
4        5
        ..
19995    4
19996    1
19997    1
19998    5
19999    5
Name: CNN_predictions, Length: 20000, dtype: int64

In [ ]:
t5_Predictions

       Predicted  Actual
0            5.0     5.0
1            4.0     5.0
2            5.0     5.0
3            4.0     4.0
4            5.0     5.0
...          ...     ...
79995        5.0     4.0
79996        4.0     5.0
79997        5.0     5.0
79998        4.0     5.0
79999        4.0     4.0

[80000 rows x 2 columns]

In [7]:
t5_Predictions_X_test['Predicted']

0        5.0
1        5.0
2        5.0
3        5.0
4        2.0
        ...
19995    4.0
19996    1.0
19997    1.0
19998    5.0
19999    5.0
Name: Predicted, Length: 20000, dtype: float64

In [ ]:
BERT_Predictions['0']

0        5
1        4
2        5
3        3
4        5
        ..
79995    5
79996    5
79997    5
79998    4
79999    4
Name: 0, Length: 80000, dtype: int64

In [9]:
BERT_Predictions_X_test['0']

0        5
1        5
2        5
3        5
4        5
        ..
19995    4
19996    1
19997    1
19998    5
19999    5
Name: 0, Length: 20000, dtype: int64

In [10]:
y_test['stars']

0        5.0
1        3.0
2        5.0
3        5.0
4        5.0
        ...
19995    3.0
19996    1.0
19997    1.0
19998    4.0
19999    5.0
Name: stars, Length: 20000, dtype: float64

In [11]:
train_data = {'BERT_Preds': BERT_Predictions['0'], 
        'CNN_Preds': CNN_Predictions['CNN_predictions'], 
        'T5_Preds': t5_Predictions['Predicted'], 
        'Actuals': t5_Predictions['Actual']}

In [14]:
train_combined_dataframe = pd.DataFrame(train_data)
train_combined_dataframe

# may need to clean up the formatting of the values to align( e.g., integer vs. float)

       BERT_Preds  CNN_Preds  T5_Preds  Actuals
0               5          5       5.0      5.0
1               4          5       4.0      5.0
2               5          5       5.0      5.0
3               3          4       4.0      4.0
4               5          4       5.0      5.0
...           ...        ...       ...      ...
79995           5          5       5.0      4.0
79996           5          5       4.0      5.0
79997           5          5       5.0      5.0
79998           4          4       4.0      5.0
79999           4          4       4.0      4.0

[80000 rows x 4 columns]

In [15]:
train_combined_dataframe[['BERT_Preds', 'CNN_Preds', 'T5_Preds']]

       BERT_Preds  CNN_Preds  T5_Preds
0               5          5       5.0
1               4          5       4.0
2               5          5       5.0
3               3          4       4.0
4               5          4       5.0
...           ...        ...       ...
79995           5          5       5.0
79996           5          5       4.0
79997           5          5       5.0
79998           4          4       4.0
79999           4          4       4.0

[80000 rows x 3 columns]

In [24]:
test_data = {'BERT_Preds': BERT_Predictions_X_test['0'], 
        'CNN_Preds': CNN_Predictions_X_test['CNN_predictions'], 
        'T5_Preds': t5_Predictions_X_test['Predicted'], 
        'Actuals': y_test['stars']}

In [25]:
test_combined_dataframe = pd.DataFrame(test_data)
test_combined_dataframe

       BERT_Preds  CNN_Preds  T5_Preds  Actuals
0               5          5       5.0      5.0
1               5          5       5.0      3.0
2               5          5       5.0      5.0
3               5          5       5.0      5.0
4               5          5       2.0      5.0
...           ...        ...       ...      ...
19995           4          4       4.0      3.0
19996           1          1       1.0      1.0
19997           1          1       1.0      1.0
19998           5          5       5.0      4.0
19999           5          5       5.0      5.0

[20000 rows x 4 columns]

In [16]:
from sklearn.linear_model import LogisticRegression

In [19]:
train_combined_dataframe[['BERT_Preds', 'CNN_Preds', 'T5_Preds']]

       BERT_Preds  CNN_Preds  T5_Preds
0               5          5       5.0
1               4          5       4.0
2               5          5       5.0
3               3          4       4.0
4               5          4       5.0
...           ...        ...       ...
79995           5          5       5.0
79996           5          5       4.0
79997           5          5       5.0
79998           4          4       4.0
79999           4          4       4.0

[80000 rows x 3 columns]

In [26]:
test_combined_dataframe[['BERT_Preds', 'CNN_Preds', 'T5_Preds']]

       BERT_Preds  CNN_Preds  T5_Preds
0               5          5       5.0
1               5          5       5.0
2               5          5       5.0
3               5          5       5.0
4               5          5       2.0
...           ...        ...       ...
19995           4          4       4.0
19996           1          1       1.0
19997           1          1       1.0
19998           5          5       5.0
19999           5          5       5.0

[20000 rows x 3 columns]

In [50]:
np.unique(train_combined_dataframe['Actuals'], return_counts='TRUE')

(array([1., 2., 3., 4., 5.]), array([11521,  6601,  8558, 17929, 35391]))

In [65]:
# weights = {1.0: (11521/80000), 
#            2.0: (6601/80000), 
#            3.0: (8558/80000), 
#            4.0: (17929/80000), 
#            5.0: (35391/80000)}

#weighting the classes actually degraded performance

lr1 = LogisticRegression(multi_class='multinomial', 
                         C=1e12, 
                         max_iter=10000#,
                         #class_weight=weights
                         )

model_ovr = lr1.fit(
    train_combined_dataframe[['BERT_Preds', 'CNN_Preds', 'T5_Preds']], 
    train_combined_dataframe['Actuals']
    )

y_pred = model_ovr.predict(
    test_combined_dataframe[['BERT_Preds', 'CNN_Preds', 'T5_Preds']]
    )

In [66]:
np.sum(y_pred == test_combined_dataframe['Actuals']) /20000

#basic Logistic Regression returned 70.6% accuracy. May try cross validation and iterating through various parameters to see what the best result can be

0.706

In [67]:
np.sum(y_pred == test_combined_dataframe['BERT_Preds']) /20000

0.91345

In [68]:
np.sum(y_pred == test_combined_dataframe['CNN_Preds']) /20000

0.74875

In [69]:
np.sum(y_pred == test_combined_dataframe['T5_Preds']) /20000

0.6947

In [70]:
?LogisticRegression