In [1]:
!git clone https://github.com/CodyBurker/W266_Group_Project

Cloning into 'W266_Group_Project'...
remote: Enumerating objects: 174, done.
remote: Counting objects: 100% (174/174), done.
remote: Compressing objects: 100% (158/158), done.
remote: Total 174 (delta 71), reused 58 (delta 11), pack-reused 0
Receiving objects: 100% (174/174), 138.81 MiB | 21.14 MiB/s, done.
Resolving deltas: 100% (71/71), done.
Checking out files: 100% (39/39), done.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [36]:
def read_in_data(path="W266_Group_Project/"):
    import pandas as pd
    CNN_Predictions = pd.read_csv(path + "CNN_Predictions.csv")
    t5_Predictions = pd.read_csv(path + "t5_Predictions.csv")
    BERT_Predictions = pd.read_csv(path + "BERT_Predictions_80k_stage_2_1_to_5.csv")
    x_test = pd.read_csv(path + "x_test_sampled_yelp_data_NEW.csv")
    y_test = pd.read_csv(path + "y_test_sampled_yelp_data_NEW.csv")
    return CNN_Predictions, t5_Predictions, BERT_Predictions, x_test, y_test
CNN_Predictions, t5_Predictions, BERT_Predictions, x_test, y_test = read_in_data()

In [25]:
CNN_Predictions['CNN_predictions']

0        5
1        5
2        5
3        4
4        4
        ..
79995    5
79996    5
79997    5
79998    4
79999    4
Name: CNN_predictions, Length: 80000, dtype: int64

In [21]:
t5_Predictions

       Predicted  Actual
0            5.0     5.0
1            4.0     5.0
2            5.0     5.0
3            4.0     4.0
4            5.0     5.0
...          ...     ...
79995        5.0     4.0
79996        4.0     5.0
79997        5.0     5.0
79998        4.0     5.0
79999        4.0     4.0

[80000 rows x 2 columns]

In [24]:
BERT_Predictions['0']

0        5
1        4
2        5
3        3
4        5
        ..
79995    5
79996    5
79997    5
79998    4
79999    4
Name: 0, Length: 80000, dtype: int64

In [39]:
x_test

                                                    text
0      One of the best Avis First services I have got...
1      Pizza is excellent, crust can be a bit messy b...
2      Always fast, fresh and delicious. They've got ...
3      Went in today to buy a gift and had the most p...
4      Hmmmmm.....just looked over the reviews from o...
...                                                  ...
19995  Very nice spot that overlooks the skyline espe...
19996  If you are doing a kids birthday party this is...
19997  I purchased 2 apple pies with a hint of blackb...
19998  Everyone else has already said what a cool pla...
19999  John and I love Mia.  The wine,  atmosphere, a...

[20000 rows x 1 columns]

In [38]:
y_test['stars']

0        5.0
1        3.0
2        5.0
3        5.0
4        5.0
        ...
19995    3.0
19996    1.0
19997    1.0
19998    4.0
19999    5.0
Name: stars, Length: 20000, dtype: float64

In [26]:
data = {'BERT_Preds': BERT_Predictions['0'], 
        'CNN_Preds': CNN_Predictions['CNN_predictions'], 
        'T5_Preds': t5_Predictions['Predicted'], 
        'Actuals': t5_Predictions['Actual']}

In [28]:
combined_dataframe = pd.DataFrame(data)
combined_dataframe

# may need to clean up the formatting of the values to align( e.g., integer vs. float)

       BERT_Preds  CNN_Preds  T5_Preds  Actuals
0               5          5       5.0      5.0
1               4          5       4.0      5.0
2               5          5       5.0      5.0
3               3          4       4.0      4.0
4               5          4       5.0      5.0
...           ...        ...       ...      ...
79995           5          5       5.0      4.0
79996           5          5       4.0      5.0
79997           5          5       5.0      5.0
79998           4          4       4.0      5.0
79999           4          4       4.0      4.0

[80000 rows x 4 columns]

In [35]:
combined_dataframe[['BERT_Preds', 'CNN_Preds', 'T5_Preds']]

       BERT_Preds  CNN_Preds  T5_Preds
0               5          5       5.0
1               4          5       4.0
2               5          5       5.0
3               3          4       4.0
4               5          4       5.0
...           ...        ...       ...
79995           5          5       5.0
79996           5          5       4.0
79997           5          5       5.0
79998           4          4       4.0
79999           4          4       4.0

[80000 rows x 3 columns]

In [29]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr1 = LogisticRegression(multi_class='ovr', C=1e12, max_iter=1000)

model_ovr = lr1.fit(combined_dataframe[combined_dataframe[['BERT_Preds', 'CNN_Preds', 'T5_Preds']], combined_dataframe['Actuals'])

y_pred = model_ovr.predict()

#just realized that for the 20k test, we need each of the models to run predictions on the x_test above, then feed in that 20k example in here in the predict layer